.content{
    width: 88%;
    margin: 20px auto;
    color: var(--color-primary);
    .title{
        font-size: 22px;
        font-weight: bold;
    }
    .time{
        font-size: 14px;
    }
    .mdBox{
        padding: 20px 0;
        
    }
}