.backBtn{
    position: absolute;
    top: 10%;
    right: 6%;
    font-size: 20px;
}
.content{
    width: 88%;
    margin: 20px auto;
    color: var(--color-primary);
    .title{
        font-size: 22px;
        font-weight: bold;
    }
    .time{
        font-size: 14px;
    }
    .mdBox{
        padding: 20px 0;
        
    }
    .tagBox{
        margin: 10px 0;
    }
}
hr{
    border: none;
    height: 1px;
    background-color: #eee;
}