.box{
    margin: 40px 0; 
    .iconBox{
        text-align: center;
    }
    p{
        text-align: center;
        font-size: 16px;
        color: var(--color-primary);
    }
    .big{
        font-size: 30px;
    }
    .imgBox{
        width: 80%;
        position: relative;
        height: 400px;
        margin: 20px auto;
        .img{
            width: 300px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%)
        }
    }
}

